<!doctype html>
<html>
    <head>
        <title>First app</title>
    </head>
        A4用紙1枚にまとめるイメージでメモを残そうという取り組み。

今回は機械学習でとりわけ、回帰の問題を扱うことが仕事であった際に参照できるメモの一つとして残したい。
先日、<a target="_blank" href="https://github.com/catboost/catboost/releases/tag/v0.24.1" rel="noopener noreferrer">Catboostのドキュメント</a>に参考文献として<a target="_blank" href="https://arxiv.org/pdf/2006.10562.pdf" rel="noopener noreferrer">Uncertainty in Gradient Boosting via Ensembles</a>の存在を知った。業務において、価格の予測とか、期間の予測とかマーケティングのデータでも良く扱うものなので、分類だけでなく回帰についてもバランス良く知見を貯めたいところ。
<h2>目次</h2>
<a href="#anchor1">Abstract</a>
<a href="#anchor2">Introduction</a>
<a href="#anchor3">Background and related work</a>
<a href="#anchor4">Generating ensembles of GDBT models</a>
<a href="#anchor5">Experiments on Synthetic Data</a>
<a href="#anchor6">Experiments on classfication and regression datasets</a>
<a href="#anchor7">Conclusion</a>
<a href="#anchor8">Broader Impact</a>
<h2><a id="anchor1">Abstract</a></h2>
機械学習のモデルは予測において点推定しかしないが、実務上は不確実性を定量化したいニーズがある。この研究では、予測の不確実性推定値を導出するためのアンサンブルベースの枠組みが紹介されている。予測における不確実性は「データに起因する複雑さとノイズの不確実性」「特徴空間において、情報がないことに起因する不確実性」に分解される。
手法としては確率的勾配ブースティングと確率的勾配ランジュバンブースティング(SGLB)が扱われている。SGLBは一つの勾配ブースティングモデルからのアンサンブルを可能にし、モデルの複雑さを減らすことができる。また、予測性能の向上について様々なデータセットを使って示されている。
<h2><a id="anchor2">Introduction</a></h2>
一般的な勾配ブースティングについて、回帰の際に点推定しか返さないことを挙げている。NGBoostについても言及している。NGBoostなら、勾配ブースト決定木(GBDT)を訓練して平均値を返せるとのこと。ただし、データの不確実性に起因する不確実性しか捕捉できないという問題がある。モデルに関する知識の欠落によって生じる不確実性に関して扱うことはできない。近年ではニューラルネットワークを用いて知識を起因とする不確実性の研究がなされているらしい。今回扱う、アンサンブルアプローチは全体の不確実性を「データの不確実性」と「知識の不確実性」に分解する。扱うモデルは確率的勾配ブースティングと、確率的勾配ランジュバンブースティング(SGLB)となっており、SGLBの利点として、漸近的に真のベイジアン事後分布からサンプリングことが挙げられている。また、SGLBによって1つの勾配ブースティングのみをモデルを使ってアンサンブルをすることができるとされている。これにより計算の複雑さを減らすことができる。結果として、予測性能が高まり、誤りやドメインの外側のデータの入力の検知ができるようになったとされている。
<h2><a id="anchor3">Background and related work</a></h2>
<ul>
 	<li>ベイジアンのアプローチ
ベイズ統計学を使っている。予測の多様性について考察することで、知識の不確実性の推定を行うことができるとしている。さらに、確率モデルのアンサンブルを行なっている。アンサンブルモデルの不一致さ、広がりの程度が知識の不確実性につながるとしている。事後分布の近似のための研究が色々となされ、ニューラルネットワークのモデルなども使われた。モデルの事後分布をもとに、予測の事後分布を手に入れる。予測の事後分布のエントロピーが、予測の不確実性を推定する。知識の不確実性は、全ての不確実性からデータの不確実性の期待値を差し引いた相互情報量で表される。確率的な回帰モデルのアンサンブルを考える時、予測事後分布のエントロピーと相互情報量を推定することができない。代わりに総変動の法則に従ってなら推定することができるが、1~2次のモーメントに基づいているだけなので、高次元での不確実性に関する見落としが起きうる。</li>
 	<li>勾配ブースティング
弱学習器は浅い決定木によって形成される。ただ、勾配ブースティングの回帰モデルは点での予測しかしない。予測の不確実性に関する研究はほとんどされていない。近年、NGBoost (Natural Gradient Boosting)が登場し、予測の不確かさを推定することができるようになった。NGBoostは入力変数xが与えられたもとでの、出力変数の条件付き事後分布の推定を行ってくれる。</li>
</ul>
<h2><a id="anchor4">Generating ensembles of GDBT models</a></h2>
NGBoostはデータの不確実性を捉えることができるものの、知識の不確実性については捉えることができない。
知識の不確実性を捉えるための方法としては、事後分布からサンプリングされた予測モデル(GBDT)のアンサンブルが挙げられる。
そもそもGBDT自身が木のアンサンブルであるが、そのGBDTのアンサンブルを考える。

アンサンブルをする方法としては、確率的勾配ブースティングのアプローチで生成された独立なモデルを扱うことがあげられている。
もとのモデルにノイズを注入して、出力をぶれさせることで予測の分布を得ようとしている。ただ、これは事後分布の推定を保証しないらしい。

ただし、確率的勾配ランジュバンブースティング(SGLB)アルゴリズムを用いることで真の事後分布からGBDTモデルをサンプリングすることができるらしい。
非凸の損失関数においての最適化の収束のために、確率的勾配ランジュバン力学が用いられているとのこと。ランジュバン力学ってなんだろうか。

確率的勾配ブースティングとの違いは2つある。
<ul>
 	<li>1.ガウシアンノイズが勾配に明示的に加えられている。
<ul>
 	<li>正規分布の平均は0で分散に逆拡散温度というものがある。ノイズをコントロールするものであることに間違いはない。確かに物理っぽい。STANのリープフロッグとかを思い出した。このノイズが最適値を見つけるのに役立つらしい。</li>
</ul>
</li>
 	<li>2.ブースティングモデルの更新式に正則化パラメータを設けている。
<ul>
 	<li>定常分布に弱く収束していくマルコフ連鎖にパラメータが従うらしい。</li>
</ul>
</li>
</ul>
対数尤度に正則化項が残るものの、比例するらしく、真の事後分布に従うと見なせるらしい。

確率的勾配ブースティングや確率的勾配ランジュバンブースティングは計算する上で重大なオーバーヘッドが生じるらしくイタレーションを減らすなど質を下げたり複雑さを増したりする必要があるとのこと。それを避けるために、仮想SGLBアンサンブルというものが提案されている。

SGLBアルゴリズムのイタレーションごとのパラメータは弱く定常に収束するマルコフ連鎖に従うことから、それらをモデルのアンサンブルと見なす。
しかしながらモデル同士が強く相関してしまうので、アンサンブルの質が下がる。ただし、各々のパラメータのK番目の集合のみを使うことで克服できるとある。
K番目のパラメータ集合のみのモデルで構築したアンサンブルを仮想アンサンブルと呼んでいる。
<h2><a id="anchor5">Experiments on Synthetic Data</a></h2>
ここではGBDTモデルのアンサンブルアルゴリズムを合成データを用いて実験している。
合成データとしては、以下の2つの1次元データセットが扱われている。
<ul>
 	<li>合成データセット
<ul>
 	<li>分散が増加していく絶対値x</li>
 	<li>分散が減少していく絶対値x</li>
</ul>
</li>
</ul>
<ul>
 	<li>比較するモデル
<ul>
 	<li>SGLB</li>
 	<li>SGB</li>
 	<li>vSGLB（仮想SGLB）：SGLBから生成</li>
</ul>
</li>
</ul>
<ul>
 	<li>結果
<ul>
 	<li>分散が減少していく絶対値xのケースだと、データの不確実性に関して、SGBではサンプルの領域外で過剰に不確実性が増してしまう。</li>
 	<li>分散が増加していく絶対値xのケースだと、知識の不確実性に関して、SGBではサンプルの領域外で不確実性が増してしまう。</li>
</ul>
</li>
</ul>
サンプルの領域外のほうが、領域内よりも不確実性が大きいはずだが、実験データではそうではないらしい。
<h2><a id="anchor6">Experiments on classfication and regression datasets</a></h2>
GBDTモデルのアンサンブルアルゴリズムを色々なデータのいろいろなタスク（回帰、分類）で予測性能をみている。
<ul>
 	<li>タスク
<ul>
 	<li>回帰タスク</li>
 	<li>分類タスク</li>
</ul>
</li>
</ul>
<ul>
 	<li>データセット
<ul>
 	<li>18種類くらいある。（Wineとか、解約のデータとかAmazonのデータとかいろいろ）</li>
</ul>
</li>
</ul>
<ul>
 	<li>比較するモデル
<ul>
 	<li>SGB：このアンサンブルは10個の独立したモデルで、それぞれ1K本の木を持つ。</li>
 	<li>SGLB：このアンサンブルは10個の独立したモデルで、それぞれ1K本の木を持つ。</li>
 	<li>vSGLB（仮想SGLB）：[500, 1000]の区間から50番目のモデルをアンサンブルに追加していっている。</li>
</ul>
</li>
</ul>
<ul>
 	<li>どう実装しているか
<ul>
 	<li>CatBoostライブラリをベース</li>
 	<li>分類では二値分類のクラスの確率分布を生成</li>
 	<li>回帰では正規分布の平均と分散を生成</li>
 	<li>負の対数尤度を最適化している</li>
 	<li>ハイパーパラメータはランダムサーチ</li>
</ul>
</li>
</ul>
<ul>
 	<li>何の指標を見ているか
<ul>
 	<li>負の対数尤度</li>
 	<li>誤分類率</li>
 	<li>RMSE</li>
 	<li>不確実性の合計、知識の不確実性：Prediction-Rejection Ratio(PPR)というもので測る。どれくらい不確実性が誤差と順番と相関するかを測るらしい。100が最大で、ランダムだと0になる。</li>
 	<li>AUC：領域外のデータに関する評価に用いる。領域外データは合成して生成した。</li>
</ul>
</li>
</ul>
<ul>
<ul>
 	<li>分類：負の対数尤度（NLL）
<ul>
 	<li>アンサンブル手法に軍配が上がるが、違いは軽微である。</li>
 	<li>仮想アンサンブルが勝るときがある。</li>
</ul>
</li>
 	<li>分類：誤分類率
<ul>
 	<li>アンサンブル手法に軍配が上がるが、違いは軽微である。</li>
</ul>
</li>
 	<li>回帰：RMSE
<ul>
 	<li>アンサンブル手法に軍配が上がるが、違いは軽微である。</li>
</ul>
</li>
</ul>
<ul>
 	<li>SGBやSGLBはパフォーマンスが良い。
<ul></ul>
</li>
 	<li>vSGLBはわずかにパフォーマンスが悪い。自己相関があるなかでアンサンブルしているためパフォーマンス悪化が生じていると考えられる。
<ul>
 	<li>ただ単一モデルのものよりかは良い。</li>
 	<li>コストをかけずに精度を上げたいという観点ではvSGLBはよい選択肢となる。</li>
</ul>
</li>
</ul>
</ul>
<h2><a id="anchor7">Conclusion</a></h2>
この論文では、GBDTを用いたアンサンブルベースの不確実性推定モデルが扱われた。SGB、SGLB、仮想SGLBについて合成データや、分類や回帰のタスクにおいて比較した結果、アンサンブル手法が精度面で秀でているわけではないことが示された。
しかし、知識の不確実性（モデルで十分に想定できていない不確実性）を扱う際にアンサンブル手法が役立つことがわかった。
知識の不確実性を扱う場合に、計算コストの少ない手法として仮想のSGLBが提案され、精度において十分ではないが、低コストで知識の不確実性を扱う観点において有用であることが示された。
<h2><a id="anchor8">Broader Impact</a></h2>
<ul>
 	<li>不確実性の推定は、機械学習モデルをより安全に、より信頼できるものにするという観点で重要。</li>
 	<li>GBDT系の手法はニューラルネットワーク系の手法よりも計算コストが低くて良い。</li>
 	<li>不確実性の推定が貧弱なものとならないように引き続き研究が求められる。</li>
</ul>
<h2>追記</h2>
不確実性について扱われた、ソースコードの載っている記事を集める。
<ul>
 	<li><a target="_blank" href="https://brendanhasz.github.io/2018/12/15/quantile-regression" rel="noopener noreferrer">Prediction Intervals for Taxi Fares using Quantile Loss</a></li>
</ul>
    </body>
</html>
